.nav {
 display: flex;
}

.logo {
 float: left;
 position: relative;
 padding: 1.154rem 7.313rem 6.625rem 8.688rem;
}

.logo-text {
 height: 3.5rem;
 position: relative;
 bottom: 1.25rem;
 font-size: 2.625rem;
 font-weight: bold;
 font-stretch: normal;
 font-style: normal;
 line-height: 1.33;
 letter-spacing: normal;
 color: #374b5c;
}

.nav ul {
 list-style-type: none;
 display: flex;
}

.nav li {
 position: relative;
 color: #374b5c;
 margin: 2.5rem;
}

.nav li:hover {
 text-decoration: 2px underline #00dbd0;
 cursor: pointer;
}

.nav ul li button {
 border-radius: 10px;
 position: relative;
 bottom: 0.875rem;
 border: solid 2px #00dbd0;
 outline: none;
 padding: 0.75rem 3rem 0.813rem 2.375rem;
}

.nav ul li button:hover {
 background-color: #374b5c;
 border: none;
 color: aliceblue;
 cursor: pointer;
}
